<div class="col-lg-3">

    <h1 class="my-4">Restaurant</h1>
    <div class="list-group">
        <a href="/add-to-cart" class="list-group-item">Checkout</a>
        <a href="/" class="list-group-item">Home</a>
        <a href="/login" class="list-group-item">Login Staff</a>
        <a href="/register" class="list-group-item">Register Staff</a>
        <!-- <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a> -->
    </div>

</div>